*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#253F60;
  color: white;
  font-family: Verdana, Tahoma, sans-serif;
}

header {
  text-align: center;
  margin-bottom: 100px;
}

header .title {
  margin-bottom: 20px;
}

header button {
  padding: 10px;
  cursor: pointer;
}

.container-fluid {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  aspect-ratio: 1;
  border: solid 1px;
  width:calc(100% / 10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-azure {
  background-color: #86B3C4;
}